{% extends 'base.html' %}

{% block content %}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-editable table-nowrap align-middle table-edits">
                                    <thead>
                                        <tr>
                                            <th>Equipment Name</th>
                                            <th>IP Address</th>
                                            <th>Status</th>
                                            <th>No. of Sensor</th>
                                            <th>No. of Parameter</th>
                                            <th>Machine Code</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for item in alle %}
                                        <tr>
                                            <td>{{item.eqp_name}}</td>
                                            <td>{{item.ip_addr}}</td>
                                            <td data-field="eqp_status" name="eqp_status">{{item.eqp_status}}</td>
                                            <td>{{item.sensors}}</td>
                                            <td>{{item.param}}</td>
                                            <td>{{item.mach_code}}</td>
                                            <td>
                                                <a class="btn btn-outline-secondary btn-sm edit" title="Edit">
                                                    <i class="fas fa-pencil-alt"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}